body {
    margin: 0;
    background-image: url('/Pictures/grass-84622_1920.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Calibri', sans-serif;
    background-color: rgb(25, 26, 28);
}

img {
    max-width: 100%;
    height: auto;
}
.navbar-fixed {
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
.insta {
    position: absolute;
    display: block;
    z-index: 12;
    max-width: 67px;
    right: 10px;
    transform: translate(5%, 14%);
}
.face {
    position: absolute;
    display: block;
    z-index: 12;
    max-width: 67px;
    right: 70px;
    transform: translate(5%, 14%);
} 
.navbar-text {
    font-size: 22px;
    font-family: 'Calibri', sans-serif;
}
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: blue;
    transition: all 0.4s
  }
  .navbar-toggler:hover + .navbar-collapse,
  .navbar-collapse:hover {
    display: block;
  }
  .container-fluid {
    text-shadow: none;
}

  .logo-container {
    display: none;
  }
  
.image-container img {
    width: 100%;
    height: 700px;
}

.image-overlay-text {
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-160%, -100%);
    color: rgb(0, 0, 0);
    font-size: 34px;
    z-index: 1;
    font-family: 'Calibri', sans-serif;
}
.custom-navbar {
    background-color: rgb(37, 38, 41);
}

.additional-text {
    position: absolute;
    top: 58%;
    left: 30%;
    transform: translate(-120%, -10%);
    color: rgb(0, 60, 255);
    font-size: 15px;
    z-index: 1;
    font-family: 'Calibri', sans-serif;
}

.news-box {
    width: 70%;
    max-width: 7000px;
    margin: 20px auto;
    background-color: rgb(25, 26, 28);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-box img {
    max-width: 100%;
    height: auto;
}

.news-box p {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Calibri', sans-serif;
}

.custom-hr {
    border-color: blue;
    border-width: 3px;
    width: 80%;
}

.small-box {
    width: 14%;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ffffff;
    position: relative;
}

.facebook img {
    width: 3%;
    height: 40px;
    transform: translateX(30%);
}

.instagram img {
    width: 1%;
    height: 40px;
    transform: translateX(30%);
}

a {
    color: rgb(0, 119, 255);
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: rgba(16, 16, 17, 0.863);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}



.post p{
    font-size: 25px;
    text-align: center;
}

.preis p{
    font-size: 30px;
    text-align: center;
}

.news-box h2 {
    margin-top: 20px;
    font-size: 26px;
    font-family: 'Calibri', sans-serif;
    text-align: center;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: white;
}
.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.testa {
    display: none;
}
.Jahreshauptversammlung {
    max-width: 900px;
    height: auto;
}
.Impressum h4{
    font-size: 18px;
  }
  .news-box1 {
    width: 70%;
    max-width: 7000px;
    margin: 20px auto;
    background-color: rgb(25, 26, 28);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.fussball {
    width: 100%;
    height: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-box2 {
    width: 90%;
    max-width: 7000px;
    margin: 20px auto;
    background-color: rgb(25, 26, 28);
    color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.news-box br {
    display: block;
    margin-bottom: 10px; 
 }


@media screen and (max-width: 900px) {
    .testa {
        display: block;
        transform: translate(0%, -0%);
    }
    .logo-container {
        display: block;
      }
      .custom-navbar {
        font-size: 15px;
    }
    .facebook img {
        display: none;
    }
    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        font-size: 14px;
    }
    
    .instagram img {
        display: none;
    }
    .Logo {
        display: none;
    }
    
    .image-container img {
        display: none;
    }

    .menu-icon {
        position: relative;
        top: 10px;
        left: 40%;
        width: 0px;
        height: 20px;
        cursor: pointer;
    }
    .small-box {
        width: 60%;
        margin: 20px auto;
        background-color: rgb(255, 255, 255);
        padding: 6px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: #ffffff;
        position: relative;
    }
    .post p{
        font-size: 20px;
        text-align: center;
    }
    .hamburger{
    display: block; 
    transform: translate(023%, -535%);
    z-index: 100000;
    }
    .image-overlay-text {
        display: none;
    }
    
    .custom-hr {
        width: 10px;
    }
    .list-container{
        position: relative;
        left: 8%;
        top: -30px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0);
        width: 50%;
        text-align: center;
        transition: 0.3s;
        z-index: 11;

        .nav-item{
            margin: 16px 0;
        }
        .nav.menu.active{
            left: 0;
        }
    }
      
      .news-box {
        width: 70%;
        max-width: 7000px;
        margin: 20px auto; 
        background-color: rgb(25, 26, 28);
        color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .navbar-text {
        font-size: 16px;
    }
    .news-box h2{
        font-size: 20px;
    }
    .news-box h3{
        font-size: 12px;
    }
    .news-box h4{
        font-size: 15px;
    }
    .news-box h1{
        font-size: 25px;
    }
.news-box h1 {
  margin-bottom: 20px;
  font-weight: bold;
}
.news-box h3 {
    margin-bottom: 36px;
    font-weight: bold;
  }
  .insta {
    display: none;
  }
  .face {
    display: none;
  } 
  .post-text h1 {
    font-size: 18px;
  }
  .post-text p {
    font-size: 18px;
  }
  br {
    display: block;
    content: "";
    margin-bottom: -3px;
  }
 .news-box iframe {
    width: 100%;
    height: auto;
 }
 .news-box br {
    display: block;
    margin-bottom: 6px; 
 }


}
@media screen and (max-width: 1366px) {

       
    .image-overlay-text {
        top: 0%;
        left: 0%;
        transform: translate(40%, 610%);
        color: rgb(0, 0, 0);
        font-size: 44px;
        z-index: 1;
        font-family: 'Calibri', sans-serif;
    }
    .image-container img 
    .small-box 
    .post p{
        font-size: 20px;
        text-align: center;
    }
    .custom-hr {
        border-color: blue;
        width: 80%;
    }
    .insta {
        display: none;
      }
      .face {
        display: none;
      }
}
@media screen and (max-width: 700px) {
    .post-text h1{
        font-size: 13px;
    }
    .post-text p{
        font-size: 16px;
    }
    br {
        display: block;
        content: "";
        margin-bottom: -1px;
      }
      .Impressum h4{
        font-size: 13px;
      }
      .news-box iframe {
        width: 100;
        height: auto;
     }
     .news-box1 {
        width: 90%;
        max-width: 7000px;
        margin: 20px auto;
        background-color: rgb(25, 26, 28);
        color: white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: center;
    }
    .news-box1 h1{
        font-size: 25px;
    }
    .fussball {
        width: 100%;
        height: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news-box2 {
        width: 100%;
        max-width: 7000px;
        margin: 20px auto;
        background-color: rgb(25, 26, 28);
        color: white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


