body {
    background-color: rgb(0, 153, 255);
    margin: 0;
    background-image: url('Pictures/1465799267.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Calibri', sans-serif;
}

nav {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 42, 42);
    color: white;
    position: relative;
    z-index: 2;
}

nav ul {
    display: flex;
    height: 60px;
    transform: translate(-64%, -10%);
}

nav ul li {
    padding: 15px;
    list-style-type: none;
    border-bottom: 2px solid rgb(0, 102, 255);
    position: relative;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.699);
    text-decoration: none;
    font-size: 22px;
    font-family: sans-serif;
}

nav ul li ul {
    display: none;
    position: absolute;
    height: auto;
    transform: translate(-0%, -0%);
    background-color: rgb(42, 42, 42);
    padding: 10px;
    top: 100%;
    left: 0;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


nav ul li:hover ul {
    display: block;
}


.image-container img {
    width: 100%;
    height: 700px;
}

.image-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -100%);
    color: rgb(0, 0, 0);
    font-size: 44px;
    z-index: 1;
    font-family: 'Calibri', sans-serif;
}

.additional-text {
    position: absolute;
    top: 58%;
    left: 40%;
    transform: translate(-50%, -10%);
    color: rgb(0, 0, 0);
    font-size: 65px;
    z-index: 1;
    
}
.news-box {
    width: 70%;
    max-width: 7000px;
    margin: 20px auto;
    color: white;
    background-color: rgb(25, 26, 28);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-box img {
    max-width: 100%;
    height: auto;
}

.news-box p {
    margin-top: 10px;
}
.small-box {
    width: 10%;
    margin: 10px auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ffffff;
}

.pic-box {
    width: 70%;
    max-width: 7000px;
    margin: 20px auto;
    color: white;
    background-color: rgb(25, 26, 28);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.facebook img {
    width: 100%;
    height: 40px;
    transform: translate(2100%, -0%);
}
.instagram img {
    width: 100%;
    height: 40px;
    transform: translate(1270%, -0%);
}