body {
    margin: 0;
    background-image: url('/Pictures/1465799267.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Calibri', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}
nav {
    height: 55px;
    display: flex;
    font-family: 'Calibri', sans-serif;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 42, 42);
    position: relative;
    transition: top 0.3s ease;
    z-index: 2;
}

nav ul {
    display: flex;
    height: 60px;
    transform: translate(-64%, -10%);
}

nav ul li {
    padding: 15px;
    list-style-type: none;
    border-bottom: 2px solid rgb(0, 102, 255);
    position: relative;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.699);
    text-decoration: none;
    font-size: 22px;
    font-family: sans-serif;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: rgba(0, 102, 255);
}

nav ul li ul {
    display: none;
    position: absolute;
    height: auto;
    transform: translate(-0%, -0%);
    background-color: rgb(42, 42, 42);
    padding: 10px;
    top: 100%;
    left: 0;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul li:hover ul {
    display: block;
}

.image-container img {
    width: 100%;
    height: 700px;
}

.image-overlay-text {
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-160%, -100%);
    color: rgb(0, 0, 0);
    font-size: 34px;
    z-index: 1;
    font-family: 'Calibri', sans-serif;
}

.additional-text {
    position: absolute;
    top: 58%;
    left: 30%;
    transform: translate(-120%, -10%);
    color: rgb(0, 60, 255);
    font-size: 15px;
    z-index: 1;
    font-family: 'Calibri', sans-serif;
}

.news-box {
    width: 70%;
    max-width: 7000px;
    margin: 20px auto;
    background-color: rgb(25, 26, 28);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-box img {
    max-width: 100%;
    height: auto;
}

.news-box p {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Calibri', sans-serif;
}

.custom-hr {
    border-color: blue;
    width: 880px;
}

.small-box {
    width: 14%;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ffffff;
    position: relative;
}

.facebook img {
    width: 100%;
    height: 40px;
    transform: translateX(2100%);
}

.instagram img {
    width: 100%;
    height: 40px;
    transform: translateX(1330%);
}

a {
    color: rgb(0, 119, 255);
   
}

.footer {
    background-color: rgb(20, 20, 32);
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

.post p{
    font-size: 25px;
    text-align: center;
}

.preis p{
    font-size: 30px;
    text-align: center;
}

.news-box h2 {
    margin-top: 20px;
    font-size: 26px;
    font-family: 'Calibri', sans-serif;
    text-align: center;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: white;
}
.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.scroll-start {
    top: -0px;
}

@media screen and (max-width: 900px) {
   
    nav {
        display: none;
    }

    nav ul {
        display: none;
    }
    
    nav ul li {
        display: none;
    }
    
    nav ul li a {
        display: none;
    }
    
    nav ul li a:hover {
        display: none;
    }
    
    nav ul li ul {
        display: none;
        position: absolute;
        height: auto;
        transform: translate(-0%, -0%);
        background-color: rgb(42, 42, 42);
        padding: 10px;
        top: 100%;
        left: 0;
        width: 250px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    nav ul li:hover ul {
        display: block;
    }
    .facebook img {
        display: none;
    }
    
    .instagram img {
        display: none;
    }
    .Logo {
        position: absolute;
        z-index: 11;
        top: 1%;
        transform: translate(-23%, -0%);
    }
    
    .image-container img {
        height: 600px;
    }

    .menu-icon {
        position: relative;
        top: 10px;
        left: 40%;
        width: 0px;
        height: 20px;
        cursor: pointer;
    }
    .small-box {
        width: 50%;
        margin: 20px auto;
        background-color: rgb(255, 255, 255);
        padding: 6px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: #ffffff;
        position: relative;
    }
    .post p{
        font-size: 20px;
        text-align: center;
    }

    .image-overlay-text {
        display: none;
    }
    
    .custom-hr {
        border-color: rgb(14, 14, 102);
        width: 10px;
    }
    .list-container{
        position: relative;
        left: 8%;
        top: -30px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0);
        width: 50%;
        text-align: center;
        transition: 0.3s;
        z-index: 11;

        .nav-item{
            margin: 16px 0;
        }
        .nav.menu.active{
            left: 0;
        }
    }

      
      .news-box {
        width: 70%;
        max-width: 7000px;
        margin: 120px auto; 
        background-color: rgb(25, 26, 28);
        color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .active {
        background-color: #04AA6D;
        color: white;
      }
      
}
@media screen and (max-width: 1366px) {

    nav {
        height: 55px;
        font-family: 'Calibri', sans-serif;
        justify-content: center;
        align-items: center;
        background-color: rgb(42, 42, 42);
        position: relative;
        transition: top 0.3s ease;
        z-index: 2;
    }
    
    nav ul {
        display: flex;
        height: 60px;
        transform: translate(-0%, -10%);
        justify-content: center; 
    }
    
    nav ul li {
        padding: 15px;
        list-style-type: none;
        border-bottom: 2px solid rgb(0, 102, 255);
        position: relative;
    }
    
    nav ul li a {
        color: rgba(255, 255, 255, 0.699);
        text-decoration: none;
        font-size: 22px;
        font-family: sans-serif;
        transition: color 0.3s;
        text-align: center;
    }
    
    nav ul li a:hover {
        color: rgba(0, 102, 255);
    }
    
    nav ul li ul {
        display: none;
        position: absolute;
        height: auto;
        transform: translate(-0%, -0%);
        background-color: rgb(42, 42, 42);
        padding: 10px;
        top: 100%;
        left: 0;
        width: 250px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    nav ul li:hover ul {
        display: block;
    }
    
    
    nav ul li ul {
        display: none;
        position: absolute;
        height: auto;
        transform: translate(-0%, -0%);
        background-color: rgb(42, 42, 42);
        padding: 10px;
        top: 100%;
        left: 0;
        width: 250px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    
    nav ul li:hover ul {
        display: block;
    }
    .facebook img {
        display: none;
    }
    
    .instagram img {
        display: none;
    }
       
    .image-overlay-text h2{
        top: 33335%;
        left: 44440%;
        transform: translate(40%, -0%);
        color: rgb(0, 0, 0);
        font-size: 44px;
        z-index: 1;
        font-family: 'Calibri', sans-serif;
    }
    .image-container img 
    .small-box 
    .post p{
        font-size: 20px;
        text-align: center;
    }
    .custom-hr {
        border-color: blue;
        width: 880px;
    }

}